@import url('https://fonts.googleapis.com/css?family=Elsie');
/* CSS Syntax

selector{
property: value;
property: value;
}

*/

/*Type selector*/
p{ /*selects all p elements*/
  font-size: 16px; /* 1em */
  line-height: 1em;
}

figcaption { /* selects only the figcaption element tag */
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.5em;
  font-family: 'Elsie', cursive;
  /* font: font-weight font-size/line-height font-family */
  color: #AAA;
  text-align: center;
}

/*Class selectors (can apply to multiple elements)*/
.milk-text{ /* selects elements with class="milk-text"*/
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
}

/* ID selectors (apply to one unique element per page)*/
#logo{ /* selects elements with id="logo"*/
  background: aqua;
}

/* Descendent Selector */
#logo h1{ /*selects <h1> only if it's inside the id="logo"*/
  font-family: Elsie;
}

/* Pseudo selectors (descendent selector that can style an element based on state)*/
#details a:link, #details a:visited{
  color: black;
  text-decoration: none;
}

#details a:hover{
  color: black;
  text-decoration: underline;
}

#details a:active{
  color: blue;
}
